<h2>Tasks on <%= group.name %></h2>
<br>
<div class="panel panel-success style-task-panel">
  <div class="panel-heading">Future Tasks</div>
  <div class="panel-body">
    <% unless @future_tasks.blank? %>
	    <% @future_tasks.each do |future| %>
        <%= link_to future.name, '#', data: {toggle:"modal", target:"#modal-detail-task-#{future.id}"} %>
        <%= render 'admin/general_view/modal_detail_task', task: future %>
        <br>
	    <% end %>
    <% else %>
    	No task has been found.
    <% end %>
  </div>
</div>

<div class="panel panel-danger style-task-panel">
  <div class="panel-heading">In Progress Tasks</div>
  <div class="panel-body">
    <% unless @in_progress_tasks.blank? %>
	    <% @in_progress_tasks.each do |progress| %>
        <%= link_to progress.name, '#', data: {toggle:"modal", target:"#modal-detail-task-#{progress.id}"} %>
	    	<%= render 'admin/general_view/modal_detail_task', task: progress %> 
	    <% end %>
    <% else %>
    	No task has been found.
    <% end %>
  </div>
</div>

<div class="panel panel-info style-task-panel">
  <div class="panel-heading">Done Tasks</div>
  <div class="panel-body">
    <% unless @done_tasks.blank? %>
	    <% @done_tasks.each do |done| %>
        <%= link_to done.name, '#', data: {toggle:"modal", target:"#modal-detail-task-#{done.id}"} %>
	    	<%= render 'admin/general_view/modal_detail_task', task: done %>
	    <% end %>
    <% else %>
    	No task has been found.
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('input[type=radio]').click(function(){
    var id = $(this)[0].className
    var name = 'form-' + id
    $('#form-' + id ).submit()
  })
</script>
