<div class="modal fade" id="modal-detail-task-<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel"><%= task.name %></h3>
      </div>
      <div class="modal-body">
        <table id="table-detail-task">
          <tr class="info-tr-style">
            <td><b>Description</b></td>
            <td><%= task.description %></td>
          </tr>
          <tr class="info-tr-style">
            <td class="info-td-task"><b>Start date</b></td>
            <td class="info-td-task"><%= task.start_time.strftime("%I:%M%P, %b %d, %Y") %></td>
          </tr>
          <tr class="info-tr-style">
            <td class="info-td-task"><b>End date</b></td>
            <td class="info-td-task"><%= task.end_time.strftime("%I:%M%P, %b %d, %Y") %></td>
          </tr>
          <tr class="info-tr-style">
            <td class="info-td-task"><b>Status</b></td>
            <td class="info-td-task">
              <%= form_tag update_status_admin_task_path(task), method: 'PATCH' , id:"form-#{task.id}", remote: true do %>
                <div>
                  <%= radio_button_tag :status, 1, task.future?, id: "#{task.id}-status", class: "#{task.id}" %><span class="label label-success">Future Task</span>
                </div>
                <div>
                  <%= radio_button_tag :status, 2, task.in_progress?, id: "#{task.id}-status", class: "#{task.id}" %><span class="label label-danger">In Progress Task</span>
                </div>
                <div>
                  <%= radio_button_tag :status, 3, task.done?, id: "#{task.id}-status", class: "#{task.id}" %><span class="label label-info">Done Task</span>
                </div>
              <% end %>
            </td>
          </tr>
          <tr class="info-tr-style">
            <td class="info-td-task"><b>Members</b></td>
            <td class="info-td-task">
              <% User.assigned_members(task).each do |a| %>
                <%= a.name %><br>
              <% end %>
            </td>
          </tr>
          <tr class="info-tr-style">
            <td class="info-td-task"><b>Files:</b></td>
            <td class="info-td-task">
              <%= render 'admin/general_view/files_on_task', task: task %>
            </td>
          </tr>
          <tr class="info-tr-style">
            <td class="info-td-task"><b>Add Files</b></td>
            <td class="info-td-task">
              <%= render 'file_tasks/form', task: task %>
            </td>
          </tr>
          <tr>
            <td class="info-td-task"><b>Comments</b></td>
            <td class="info-td-task">
              <div id="listing-comments-<%= task.id %>">
                <%= render 'admin/general_view/list_comments', task: task %>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= render 'admin/comments/form', task: task %>
            </td>
          </tr>
        </table>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>