<div class="title-group">
  <%= group.name %>
</div>
<div id="detail-users" class="body-group">
  <%= render "detail_users", group: group %>
</div>
<div class="add-new-member">
  <%= form_for(@member, url: add_member_admin_work_group_path(group), remote: true) do |f| %>
    <div class="form-member">
      <%= f.hidden_field :user_id, id:"users-typeahead", class:"form-control" %>
      <input id="search_typeahead" class="form-control typeahead" type="text" placeholder="Search a User">
      <%= submit_tag 'Add Member', id:"add-button", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
<br>

<script type="text/javascript">
  var usersSource = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/admin/datasets/users?query=%QUERY',
      wildcard: '%QUERY'
    }
  });
  $('#search_typeahead').typeahead(null, {
    limit: 1000,
    name: 'users',
    display: 'full_name',
    source: usersSource
  });
  $('#search_typeahead').bind('typeahead:selected', function(obj, datum, name) {
    $("#users-typeahead").val(datum.id)
  });

</script>