<div class="col-md-1"></div>
<div class="col-md-4">
  <div class="head-group">
    <div class="title">
      <h1>My Own Groups</h1>
    </div>
    <div class="button-new-container">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-new-group">+</button>
    </div>
  </div>
  <%= render 'modal_new_group' %>
  <hr>
  <% @work_groups.each do |work_group| %>
    <div class="flex-prop row-selected">
      <h3><%= link_to work_group.name, '#', onclick:"javascript:view_details(#{work_group.id})" %></h3>
      <div class="buttons-group">
        <%= link_to "\u2630", edit_admin_work_group_path(work_group), id:"btn-edit-group", class:"btn btn-default" %>
        <%= link_to 'x', admin_work_group_path(work_group), method: :delete, id:"remove-group", class:"btn btn-danger", data: { confirm: "#{work_group.name} group will be removed. Are you sure?" } %>
      </div>
    </div>
    <table>
      <tr>
        <td><b>Description:</b></td>
        <td class="margin-td"><%= work_group.description %></td>
      </tr>
    </table>
    <br>
  <% end %>
  <br>
</div>
<div id="detail-group" class="col-md-7">
  <div class="any-group-information">
    <div class="alert alert-info" role="alert">Click any group name for view their details.</div>
  </div>
</div>